*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    padding: 1%;
    background-color:orange;
    color: rgb(63, 42, 42);
}
.main{
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    label{
    margin: 2%;
    font-size: large;
    color: blue;
    font-weight: bold;
    }
}
input[type="submit"]{
    margin-top: 2%;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: rgb(213, 16, 16);
    padding: 1%;
    border-radius: 11%;
}
input[type="number"]{
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
    padding-left: 10%;
}
input[type="text"]{
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
    padding-left: 10%;
}
p{
    font-size: larger;
    margin-top: 2%;
    font-weight: bold;
}
span a{
    float: right;
    text-align: center;
}
.btn{
    float: right;
    padding: 8px 16px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px
}
.btn:hover{
    background-color: #22272c;
}