.btn{
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: larger;
}
.btn:hover{
    background-color: #0056b3;
}