<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base2.css' %}">
    {%block newcss%}
    {%endblock%}
</head>
<body>
    <div class="header">
    <h1> Employee Management System <a href="{% url 'super:logout.url'%}"class='btn'>Log out</a></h1>
    </div>
    <div class="main">
    <form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {%block main%}

    {%endblock%}
    </form>
    </div>
</body>
</html>